* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #264653;
}


#box {
    display: grid;
}

#logo_link {
    display: none;
}

#hero {
    grid-row: 1;
}

header {
    grid-row: 2;
}

#menu {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    background: 0;
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "x";
}

header {
    display: grid;
    background-color: rgb(42, 157, 143);
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.navigation a:hover {
    background-color: #E76F51;
    color: white;
}

.show a {
    display: block;
}

#hero,
.homegrid {
    margin-top: 0;
    margin: 0;
    padding: 0;
}

#hero-box {
    display: none;
}

#hero-msg {
    margin-top: 0;
    background-color: rgb(42, 157, 143);
}

#hero-img {
    display: block;
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: white;
}

.home-title {
    font-family: Macondo, 'Goudy Old Style', sans-serif;
    font-size: 2em;
    font-weight: lighter;
}

.home-grid {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#hero-msg h4 {
    color: white;
    font-family: Macondo, 'Goudy Old Style', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 10px;
}

.button-box {
    text-align: center;
    margin: 22px 0;
}

h2 {
    margin: 0;
}

.cusco-img {
    width: 100%;
    display: block;
    /* box-shadow: 5px 5px 10px #264653; */
}

.cusco-city {
    grid-column: 2/6;
    grid-row: 1/2;
    margin-top: 0;
    align-self: center;
}

.cusco-text {
    grid-column: 7/12;
    grid-row: 1/2;
    align-self: center;
    padding: 50px;
    background-color: rgb(233, 196, 106, 0.2);
    box-shadow: 5px 5px 20px #264653;
}

.cusco-text h2 {
    text-align: center;
    font-family: Macondo, 'Goudy Old Style', sans-serif;
    color: #E76F51;
    margin-bottom: 25px;
    font-size: 1.7em;
}

.cusco-text p {
    text-align: justify;
    color: #264653;
}

.read {
    background-color: rgb(42, 157, 143, 0.7);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.read:hover {
    background-color: #F4A261;
    color: white;
}

.culture {
    grid-column: 5/12;
    grid-row: 3/4;
    column-gap: 0;
}

.culture img {
    width: 100%;
    height: 100%;
    display: block;
}

.msg {
    grid-column: 2/5;
    grid-row: 3/4;
    padding: 25px;
    align-self: center;
    background-color: rgb(233, 196, 106, 0.2);
}

.msg h2 {
    font-family: Macondo, 'Goudy Old Style', sans-serif;
    text-align: center;
    font-size: 1.7em;
    color: #E76F51;
}

.msg p {
    text-align: justify;
    font-size: 22px;
    margin-top: 20px;
}

footer {
    background-color: rgb(42, 157, 143);
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0.5em 0;
}

footer a:hover {
    color: #F4A261;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.center-text {
    display: block;
    text-align: center;
}

/* Attractions page styles */

.nav-filter {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(233, 196, 106);
}

.nav-filter a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}


.nav-filter a:hover {
    background-color: #E76F51;
    color: white;
}

.container {
    padding: 0 10px;
}

.container h3 {
    font-family: Macondo, 'Goudy Old Style', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.container img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    box-shadow: 0 0 10px #333;
    text-align: center;
}

.container p {
    margin-top: 30px;
    padding: 0 20px;
    text-align: justify;
}

/* Contact Us Page styles */

.contactus-grid {
    margin: 0 auto;
}

#attract-title {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.prf {
    margin: 15px 0;
    background-color: #ddd;
    padding: 15px;
}

.prf label {
    display: block;
    padding-top: 1rem;
}

.prf input[type="text"],
.prf input[type="email"] {
    display: block;
    border: solid 1px #999;
    padding: .5rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: .25rem;
}

textarea {
    display: block;
    height: 100px;
    width: 100%;
    max-width: 400px;
    padding: .5rem;
    border: solid 1px #999;
    resize: vertical;
    /* transition: border-color 0.3s; */
    margin-top: .25rem;
}

.prf input[type="submit"] {
    border: solid 1px #999;
    background-color: #eee;
    padding: .6rem;
    width: 100%;
    max-width: 400px;
    margin: 1.5rem 0 .5rem 0;
    box-shadow: 1px 1px 4px #999;
    font-weight: bolder;
}

main p,
.counter {
    margin: 20px 0;
    padding: 0 2%;
    font-size: 1.2rem;
}

@media screen and (min-width: 37.5em) {

    #box {
        display: block;
    }

    #logo_link {
        display: block;
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }

    .logo {
        width: 85px;
    }

    header {
        display: grid;
        grid-template-columns: 140px 1fr;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    .filter-menu {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-filter {
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .navigation li {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .nav-filter li {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .navigation a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #hero {
        display: none;
    }

    #hero-box {
        display: block;
        grid-column: 1/4;
        grid-row: 1/3;
        z-index: -1;
    }

    #hero-msg {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 300px;
        margin-left: 100px;
        margin-right: 100px;
    }

    #hero-msg h4 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    #hero-img {
        height: auto;
    }

    .home-title {
        font-size: 2.5em;
        font-weight: bold;
        margin: 20px 0;
    }

    .home-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .cusco-img {
        box-shadow: 5px 5px 10px #264653;
    }

    .cusco-city {
        grid-column: 2/6;
        grid-row: 1/2;
        margin-top: 100px;
    }

    .cusco-text {
        grid-column: 7/12;
        grid-row: 1/2;
        margin-top: 100px;
        padding: 50px;
        background-color: rgb(233, 196, 106, 0.6);
        box-shadow: 5px 5px 20px #264653;
    }

    .culture {
        grid-column: 5/12;
        grid-row: 3/4;
        column-gap: 0;
        margin-top: 100px;
    }

    .culture img {
        box-shadow: 5px 5px 10px #264653;
    }

    .msg {
        grid-column: 2/5;
        grid-row: 3/4;
        margin-top: 100px;
        padding: 25px;
        align-self: center;
        background-color: #E76F51;
        color: white;
        box-shadow: 5px 5px 20px #264653;
    }

    .msg h2 {
        color: #E9C46A;
    }

    .msg p {
        margin-top: 20px;
    }

    footer {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }

    /* Attraction Page Styles */
    .container {
        padding: 0 50px;
    }

    .container img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
        box-shadow: 0 0 10px #333;
        text-align: center;
    }
}