@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        gap: 1rem;
    }

    .left {
        grid-column: 1/2;
    }

    .right {
        grid-column: 2/3;
    }
}